<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>
        <b>Project Edited by Ekrem Y.</b>
        <br>Visit to <a href="https://www.linkedin.com/in/ekrem-yilmazturk/">Linkedin</a>
        <br><b>Data uploaded from incFooter.ejs -*- TEST -*-</b>
    </p>
</footer>
</body>

</html>